# Objective

The purpose of this Jupyter notebook is to show you how to download open, high, low, close, volume data for companies in the S&P 500. 

We will use pandas-datareader to download this stock market data, and will save it to disk for use at a later time.

# Import Libraries

In [1]:
# Import datetime to set a begin and end
# date on the stock information to download.
from datetime import datetime

# Import pandas to handle to stock data
# we download.
import pandas as pd

# Import pandas datareader to download stock data
# using IEX Finance.
import pandas_datareader.data as web

# Versions used:
# pandas==0.22.0
# pandas-datareader==0.6.0

# Getting the S&P 100 Companies

I downloaded a listing of the S&P 100 Companies and saved that information in an Excel workbook. This file can be found in the "Datasets" directory I have created.

You could also download similar information from here: https://www.barchart.com/stocks/indices/sp/sp100. There you can also find the S&P 500, Russel 2000, and other indicies components.

In [2]:
filename = r"Datasets\s&p100_companies.xlsx"
sp_one_hundred = pd.read_excel(filename)

# Reviewing our data

As you can see below, there are two columns: Symbol and Name for Company name. We'll grab the symbol data and use these ticker symbols to help us bulk download the OHLCV dataset in the next step.

In [3]:
sp_one_hundred.head()

  Symbol                 Name
0   AAPL           Apple Inc.
1   ABBV          AbbVie Inc.
2    ABT  Abbott Laboratories
3    ACN        Accenture plc
4    AGN         Allergan plc

Grab the ticker symbols from the DataFrame above. This will create a NumPy array which contains all of the ticker symbols we are interested in downloading.

In [4]:
sp_one_hundred_tickers = sp_one_hundred['Symbol'].values

# Bulk Downloading the Data

Now that we have all of the ticker symbols, let's download some data!

We will first create a variable called stock_data_dictionary. This is going to be a simple Python dictionary, where each key will be the ticker symbol, and each value for the key will be a DataFrame containing that stock's OHLCV DataFrame.

We need to specify the start and end date for the data we wish to download. In this example I'm going to download the past month of data to keep it light. You can go back as far as 5 years ago to download data using this method through IEX Finance if you wish.

Finally, we will use a for loop to go through each ticker symbol and download that data from the pandas-datareader package. We save the ticker symbol as the key and the dataframe as the value as seen in the last line of the cell block below.

In [5]:
stock_data_dictionary = {}
start = datetime(2018, 9, 12)
end = datetime(2018, 10, 12)

for stock in sp_one_hundred_tickers:
    stock_data_dictionary[stock] = web.DataReader(stock, 'iex', start, end)

1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y
1y

# Converting the Dictionary to a Pandas Panel

The next thing we will do is convert the stock_data_dictionary with all of our information into a pandas Panel. I like to use the Panel because I think it is easy to use and we will be able to save the file directly to the disk once it is converted.

For future reference, the Panel was depracated in the 0.20.X release of pandas, and will show a FutureWarning in pandas version 0.23.X. However, for our purposes we can continue to use this right now.

In [6]:
stock_data_panel = pd.Panel(stock_data_dictionary)

# Preview the Panel

Let's take a look at our Panel and see how the data is formatted.

We see that there are 3 axis, one for Items, a Major axis, and a Minor axis. The Items axis contains the stock ticker information. The Major axis contains the dates (this will be the rows in our data). The Minor axis contains the OHLCV values (this will be the columns in our data).

We can also preview one stock as shown below. For this example we'll use the tail method to look at those most recent pricing data on AAPL stock.

In [7]:
stock_data_panel

<class 'pandas.core.panel.Panel'>
Dimensions: 102 (items) x 23 (major_axis) x 5 (minor_axis)
Items axis: AAPL to XOM
Major_axis axis: 2018-09-12 to 2018-10-12
Minor_axis axis: open to volume

In [8]:
stock_data_panel['AAPL'].tail()

              open    high       low   close      volume
date
2018-10-08  222.21  224.80  220.2000  223.77  29663923.0
2018-10-09  223.64  227.27  222.2462  226.87  26891029.0
2018-10-10  225.46  226.35  216.0500  216.36  41990554.0
2018-10-11  214.52  219.50  212.3200  214.45  53124392.0
2018-10-12  220.42  222.88  216.8400  222.11  40337851.0

# Save the file to disk

Now you can save the file to disk using the to_pickle method. I do this because it helps keep the file size down, but you could save this as an Excel file or csv as well if you wanted to.

In [9]:
stock_data_panel.to_pickle('s&p_100_pricing_data_9-12-2018_to_10-12-2018')